* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0 0 1px black;
    min-height: 100vh;
    font-family: 'Nova Flat';
    color: #171717;
}

header {
    border-bottom: 5px solid #daa520;
}

nav {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 10px 10px -10px #daa520;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    nav .logo img {
        height: 80px;
    }

    nav ul {
        margin-right: 30px;
    }

        nav ul li {
            display: inline-block;
            padding: 20px;
            font-size: 20px;
            font-weight: 600;
            transition: 0.3s ease-in-out;
            text-shadow: 1px 1px 1px #daa520;
        }

            nav ul li:hover,
            nav .active {
                color: #daa520;
                text-shadow: 1px 1px 1px #171717;
            }

main {
    min-height: calc(100vh - 178px);
}

.hero {
    text-align: center;
    color: #daa520;
    position: relative;
    text-shadow: 0 0 3px #ffffff;
    background: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

    .hero h1 {
        font-size: 50px;
        padding-top: 3%;
    }

.products-sec {
    padding: 50px 60px;
    overflow: hidden;
}

.items {
    width: 25%;
    padding: 16px;
    display: inline-block;
}

.item-box {
    display: flex;
    flex-wrap: wrap;
}

.items .card {
    border: 0.5px solid #17171771;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: 0.2s ease;
    display: block;
    padding: 15px;
}

    .items .card:hover {
        box-shadow: 0 0 10px #17171757;
    }

.items .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.title {
    color: #656567;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}

.card-title {
    color: #656567;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
}

footer {
    border-top: 5px solid #daa520;
    padding: 20px 100px;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
}


/* SIGNUP */

.form-box {
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 0 10px #1717175d;
    padding: 30px;
}

.cart-box, .order-box {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 10px #1717175d;
    padding: 30px;
}

.order-box{
    width: 80%;
}
.order-box td{
    padding: 5px;
}
.order-box th{
    padding: 5px;
    text-align: left;
}

.form-box .title {
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

form label {
    display: inline-block;
    font-weight: 600;
    padding-bottom: 10px;
}

form .input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-family: 'Nova Flat';
    border: 1px solid #17171771;
}

*:focus {
    outline: none;
}

form .input:focus {
    box-shadow: 0 0 5px #17171771;
}

form .form-row {
    margin-bottom: 20px;
}

.btn {
    border: 1px solid #000000;
    background-color: #171717;
    color: #fff;
    font-size: 18px;
    font-family: 'Nova Flat';
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.2s ease;
    display: inline-block;
}

    .btn:hover {
        background-color: #656567;
    }

.form-row a {
    color: #000000;
    font-weight: 600;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .contact-box > div {
        width: 50%;
        padding: 30px;
    }

textarea {
    resize: vertical;
}

.c-title {
    margin-bottom: 20px;
}

.contact-box table {
    margin-top: 30px;
    width: 100%;
}

    .contact-box table td,
    .contact-box table th {
        padding: 10px;
    }

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 30px;
    color: #daa520;
    font-weight: 700;
    font-style: italic;
}

.name {
    margin-left: 10px;
}

.brand {
    font-size: 28px;
}

.cart td,
.cart th {
    padding: 10px;
    text-align: center;
}

.cart input {
    padding: 5px;
}

.cart-h {
    font-size: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

    .product-details > div {
        width: 400px;
        max-width: 100%;
        padding: 0 20px 20px;
    }

    .product-details img {
        max-width: 100%;
        border-radius: 16px;
        box-shadow: 0 2px 10px #c0c0c0;
    }

    .product-details .p_name,
    .product-details .price {
        margin-bottom: 10px;
    }

    .product-details .desc {
        margin: 10px 0;
    }

    .product-details .btn {
        display: inline-block;
        border-color: darkgreen;
        background-color: green;
    }

.details {
    padding: 30px;
}

fieldset {
    padding: 20px;
}

.table-box {
    padding: 30px;
}

.mini-title {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

table,
th,
td {
    border-collapse: collapse;
}

.table table {
    width: 100%;
}

.table-box td {
    border-bottom: 1px solid #bbbbbb;
    padding: 5px;
    text-align: center;
}

.table-box th {
    border-bottom: 2px solid #656567;
    padding: 5px;
}

.no-wrap {
    white-space: nowrap;
}

.alert {
    position: relative;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    display: block;
    border-radius: 0.25rem;
    font-size: 14px;
    margin-top: 8px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

fieldset legend {
    font-weight: 700;
    padding: 0 5px;
}

.cat th {
    border-bottom: 2px solid #bbbbbb;
}

    .cat th:hover {
        color: #171717;
        border-bottom-color: #171717;
        cursor: pointer;
    }

table {
    width: 100%;
}

.text-orange {
    color: orange;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.flex {
    display: flex;
}

    .flex > * {
        margin: 0 2px;
    }

.img-fluid {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.cart-box .img-fluid{
    border-radius: 5px;
    box-shadow: 0 0 5px #0000005a;
}


span[style="display: inline;"]{
    display: block !important;
}

.login-sec{
    padding: 100px 0;
}

.text-center{
    text-align: center;
}